<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .main-img, .image-position-wrapper svg, .ocr-position-wrapper svg {
        border: 1px solid #333;
      }
      .border-area {
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        border-radius: 3px;
      }
      .header-section {
        background: #111;
        color: #fff;
      }
      .header-section a {
        color: inherit;
      }
    </style>
  </head>
  <body>
    <div class="py-3 header-section">
      <div class="container">
        <h4><a href="/">Flow2code</a></h4>
      </div>
    </div>
    <div class="container my-4">
      <div class="row my-2">
        <div class="col">
          <h3>1. Flow2code Result (Machine Learning Model)</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-2"><b>Original Image</b></div>
          <img src="/img/{{ img_path }}" class="img-fluid main-img">
          <div class="mt-3 mb-2"><b>Original Image + Predicted Positions</b></div>
          <div class="image-position-wrapper">
            <svg id="image-position"></svg>
          </div>
        </div>
        <div class="col">
          <div class="mb-1"><b>Tokens Prediction</b></div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link nav-tokens-formatted active">Formatted</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-tokens-raw">Raw</a>
            </li>
          </ul>
          <div class="mt-3 p-3 border-area">
            <div class="tokens-result-raw" style="display:none;">
              {{ tokens }}
            </div>
            <div class="tokens-result-formatted">
              Loading...
            </div>
          </div>

          <div class="mt-3 mb-1"><b>Positions Prediction</b></div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link nav-positions-formatted active">Formatted</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-positions-raw">Raw</a>
            </li>
          </ul>
          <div class="positions-result-raw mt-3 p-3 border-area" style="display:none;">
            {{ positions }}
          </div>
          <div class="positions-result-formatted mt-3 py-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Token</th>
                  <th>x</th>
                  <th>y</th>
                <tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col">
          <h3>2. OCR</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mt-3 mb-2"><b>OCR Positions</b></div>
          <div class="ocr-position-wrapper">
            <svg id="ocr-position"></svg>
          </div>
        </div>
        <div class="col">
          <div class="ocr-result mt-3 py-2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Text</th>
                  <th>X</th>
                  <th>Y</th>
                  <th>Width</th>
                  <th>Height</th>
                <tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col">
          <h3>3. Final Result</h3>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3">
          <div class="final-result border-area p-4">
            Loading...
          </div>
        </div>
      </div>
      <div class="mb-5">&nbsp;</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
      var tokens = "{{ tokens }}";
      var positions = "{{ positions }}";
      var imgWidth = eval("{{ img_width }}");
      var imgHeight = eval("{{ img_height }}");
      var imgPath = "{{ img_path }}";
      var visionAPIToken = "{{ vision_api_token }}";
      var ocrData = null;

//       tokens = `['<START>', 'while', 'statement', 'end', 'statement', 'if', 'statement', 'end', '<END>']`;
//       positions = `[[ 86.835884,   30.822842 ],
//  [ 94.26746,   138.4611   ],
//  [ 93.41691,   241.86961  ],
//  [ -1.2381954,  -1.3295772],
//  [273.97653,   145.54604  ],
//  [268.79132,   250.06036  ],
//  [272.19553,   353.23572  ],
//  [ -1.19777,    -1.0979531],
//  [253.61102,   452.9816   ]]`;
      
      tokens = eval(tokens.split("&#39;").join("'"));
      positions = eval(positions);

      $(function(){
        showData();

        $(".nav-tokens-raw").click(function() {
          $(this).addClass("active");
          $(".nav-tokens-formatted").removeClass("active");
          $(".tokens-result-formatted").hide();
          $(".tokens-result-raw").show();
        });

        $(".nav-tokens-formatted").click(function() {
          $(this).addClass("active");
          $(".nav-tokens-raw").removeClass("active");
          $(".tokens-result-raw").hide();
          $(".tokens-result-formatted").show();
        });

        $(".nav-positions-raw").click(function() {
          $(this).addClass("active");
          $(".nav-positions-formatted").removeClass("active");
          $(".positions-result-formatted").hide();
          $(".positions-result-raw").show();
        });

        $(".nav-positions-formatted").click(function() {
          $(this).addClass("active");
          $(".nav-positions-raw").removeClass("active");
          $(".positions-result-raw").hide();
          $(".positions-result-formatted").show();
        });

        showImagePosition();
        performOCR();

        finalResult();
      });

      function showData() {
        var txt = "";
        var tabsize = 0;
        for (var i = 0; i < tokens.length; i++) {
          if (tokens[i] == 'end') tabsize--;
          for (var j = 0; j < tabsize; j++) txt += "&nbsp;&nbsp;&nbsp;&nbsp;";
          if (['if', 'while'].indexOf(tokens[i]) >= 0) tabsize++;
          txt += tokens[i].replace('<', '&lt;').replace('>', '&gt;') + '<br>';
        }

        $('.tokens-result-formatted').html(txt);

        txt = '';
        for (var i = 0; i < positions.length; i++) {
          txt += '<tr>';
          txt += '<td>' + (i + 1) + '</td>';
          txt += '<td>' + tokens[i].replace('<', '&lt;').replace('>', '&gt;') + '</td>';
          txt += '<td>' + Math.round(positions[i][0] * 1000000) / 1000000 + '</td>';
          txt += '<td>' + Math.round(positions[i][1] * 1000000) / 1000000 + '</td>';
          txt += '</tr>';
        }

        $('.positions-result-formatted .table tbody').html(txt);
      }

      function performOCR() {
        function toDataURL(url, callback) {
          var xhr = new XMLHttpRequest();
          xhr.onload = function() {
            var reader = new FileReader();
            reader.onloadend = function() {
              callback(reader.result);
            }
            reader.readAsDataURL(xhr.response);
          };
          xhr.open('GET', url);
          xhr.responseType = 'blob';
          xhr.send();
        }

        toDataURL('/img/' + imgPath, function(dataUrl) {
          dataUrl = dataUrl.replace('data:image/jpeg;base64,', '').replace('data:image/png;base64,', '');
          var reqData = {
            "requests": [
              {
                "image": {
                  "content": dataUrl
                },
                "features": [
                  {
                    "type": "TEXT_DETECTION"
                  }
                ]
              }
            ]
          };

          // initOCRData([{"x":74,"y":28,"w":26,"h":9,"text":"start"},{"x":146,"y":120,"w":14,"h":7,"text":"no"},{"x":65,"y":126,"w":40,"h":15,"text":"eNlXgt"},{"x":214,"y":128,"w":75,"h":13,"text":"bhtCpsUw"},{"x":92,"y":167,"w":20,"h":9,"text":"yes"},{"x":315,"y":221,"w":14,"h":7,"text":"no"},{"x":38,"y":235,"w":84,"h":15,"text":"IfphJLEADM"},{"x":264,"y":268,"w":22,"h":8,"text":"yes"},{"x":238,"y":338,"w":43,"h":13,"text":"hpbNfg"},{"x":249,"y":440,"w":21,"h":9,"text":"end"}]);

          $.ajax({
            type: "POST",
            url: 'https://vision.googleapis.com/v1/images:annotate?key=' + visionAPIToken,
            data: JSON.stringify(reqData),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function(resp) {
              resp = resp["responses"][0]["textAnnotations"];
              resp.shift();
              var data = resp.map(function(d) {
                var x = d['boundingPoly']['vertices'][0].x;
                var y = d['boundingPoly']['vertices'][0].y;
                var w = d['boundingPoly']['vertices'][2].x - x;
                var h = d['boundingPoly']['vertices'][2].y - y;
                return {
                  x: x, y: y, w: w, h: h,
                  text: d['description']
                }
              });

              initOCRData(data);
            }
          });

        });
      }

      function initOCRData(data) {
        var cleanedData = data.filter(function(d) { return d.text != 'yes' && d.text != 'no'; });
        ocrData = cleanedData;

        showOCRPosition();
        
        var txt = '';
        for (var i = 0; i < ocrData.length; i++) {
          txt += '<tr>';
          txt += '<td>' + ocrData[i].text + '</td>';
          txt += '<td>' + ocrData[i].x + '</td>';
          txt += '<td>' + ocrData[i].y + '</td>';
          txt += '<td>' + ocrData[i].w + '</td>';
          txt += '<td>' + ocrData[i].h + '</td>';
          txt += '</tr>';
        }
        $('.ocr-result table tbody').html(txt);
      }

      function showOCRPosition() {
        var svg = d3.select('#ocr-position');

        var aspect = imgWidth / imgHeight;
        var targetWidth = Math.min($(".ocr-position-wrapper").width(), imgWidth);

        var width = targetWidth;
        var height = targetWidth / aspect;

        svg.attr("width", width);
        svg.attr("height", height);
        svg.append('svg:image')
          .attr('xlink:href', '/img/' + imgPath)
          .attr('x', 0)
          .attr('y', 0)
          .attr('width', width)
          .attr('height', height);

        svg.selectAll(".block").data(ocrData)
        .enter().append("rect")
          .attr("class", "block")
          .attr("x", function(d) { return d.x / imgWidth * width; })
          .attr("y", function(d) { return d.y / imgHeight * height; })
          .attr("width", function(d) { return d.w / imgWidth * width; })
          .attr("height", function(d) { return d.h / imgHeight * height; })
          .style("fill", "none")
          .style("stroke", "#f00")
          .style("stroke-width", 2);
      }

      function showImagePosition() {
        var svg = d3.select('#image-position');

        var aspect = imgWidth / imgHeight;
        var targetWidth = Math.min($(".image-position-wrapper").width(), imgWidth);

        var width = targetWidth;
        var height = targetWidth / aspect;

        svg.attr("width", width);
        svg.attr("height", height);

        svg.append('svg:image')
          .attr('xlink:href', '/img/' + imgPath)
          .attr('x', 0)
          .attr('y', 0)
          .attr('width', width)
          .attr('height', height);

        svg.selectAll(".text").data(positions)
        .enter().append("text")
          .attr("class", "text")
          .attr("x", function(d) { return d[0] / imgWidth * width + 4; })
          .attr("y", function(d) { return d[1] / imgHeight * height - 4; })
          .style("fill", "#e81700")
          .style('font-size', '20px')
          .style('stroke', '#fff')
          .style('stroke-width', 3)
          .style('stroke-opacity', 0.9)
          .style('font-weight', 'bold')
          .text(function(d, i) { return i + 1; });
        
        svg.selectAll(".text-up").data(positions)
        .enter().append("text")
          .attr("class", "text-up")
          .attr("x", function(d) { return d[0] / imgWidth * width + 4; })
          .attr("y", function(d) { return d[1] / imgHeight * height - 4; })
          .style("fill", "#e81700")
          .style('font-size', '20px')
          .text(function(d, i) { return i + 1; });

        svg.selectAll(".dot").data(positions)
        .enter().append("circle")
          .attr("class", "dot")
          .attr("r", 3.5)
          .attr("cx", function(d) { return d[0] / imgWidth * width; })
          .attr("cy", function(d) { return d[1] / imgHeight * height; })
          .style("fill", "#e81700");
      }
    
      function finalResult() {
        if (ocrData == null) {
          return setTimeout(finalResult, 300);
        }

        var txt = '';
        var tabsize = 0;
        for (var i = 1; i < positions.length - 1; i++) {
          if (tokens[i] == 'end') tabsize--;
          if (tokens[i] == 'elseif' || tokens[i] == 'end') tabsize--;
          for (var j = 0; j < tabsize; j++) txt += "&nbsp;&nbsp;&nbsp;&nbsp;";
          if (tokens[i] == 'elseif' || tokens[i] == 'end') tabsize++;
          if (['if', 'while'].indexOf(tokens[i]) >= 0) tabsize++;
          var token = tokens[i].replace('<', '&lt;').replace('>', '&gt;');

          var dist = 999999999;
          var word = '';
          for (var j = 0; j < ocrData.length; j++) {
            var cx = ocrData[j].x + ocrData[j].w / 2;
            var cy = ocrData[j].y + ocrData[j].h / 2;
            var x = positions[i][0];
            var y = positions[i][1];

            var dd = (cx - x) * (cx - x) + (cy - y) * (cy - y);
            if (dd < dist) {
              dist = dd;
              word = ocrData[j].text;
            }
          }

          if (token == 'statement') {
            txt += word;
          } else if (token != 'end' && token != 'else') {
            txt += '<b>' + token.toUpperCase() + '</b> ( ' + word + ' )';
          } else {
            txt += '<b>' + token.toUpperCase() + '</b>';
          }

          txt += '<br>';
        }
        
        $('.final-result').html(txt);
      }
    </script>
  </body>
</html>

