<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Flow2code</a>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
          <div class="md-6">
            <div class="mb-2">Upload Flowchart Image:</div>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="flowchart" class="custom-file-input" id="inputFile">
                <label class="custom-file-label file-name" for="inputFile">Choose file</label>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Upload">
          </div>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(function() {
        $("#inputFile").change(function (){
          var fileName = $(this).val().replace("C:\\fakepath\\", "");
          $(".file-name").html(fileName);
        });
      });
    </script>
  </body>
</html>